spring:
  application:
    name: notification-service
  kafka:
    bootstrap-servers: localhost:9092
server:
  port: 8084
sendgrid:
  api-key: ${SENDGRID_API_KEY:}
  from-email: ${SENDGRID_FROM_EMAIL:}
  from-name: ${SENDGRID_FROM_NAME:}
management:
  endpoints:
    web:
      exposure:
        include: health,info
springdoc:
  swagger-ui:
    path: /swagger-ui
